@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://res.cloudinary.com/dqcn7idzj/image/upload/v1703903118/Projects/Notes/img_ufxozx.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}